a {
  cursor: pointer;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
}
#nav {
    width:25%;
    background-color:#eeeeee;
}

#main {
    width:75%;
}
.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}
.node text {
  fill: black;
  stroke-width: 0px;
  font: 9px helvetica;
}
.link {
  fill: none;
  stroke: #A0A0A0;
  stroke-width: 1.5px;
}
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}
.context-menu--active {
    display: block;
}
.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-menu__item {
    display: block;
    margin-bottom: 4px;
}
.context-menu__item:last-child {
    margin-bottom: 0;
}
.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}
.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}
.layers a.active {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: black;
}
